.subscribe {
  background-size: cover;
  height: 448px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 223px;
}

.subscribe__quote {
  width: 360px;
  color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe__quote__woman {
  width: 96px;
  height: 96px;
  margin-bottom: 30px;
}

.subscribe__quote__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.subscribe__quote__text__italics {
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.promotion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promotion__wrapper {
  width: 557px;
  text-align: center;
  margin-bottom: 32px;
}

.promotion__title {
  color: #222222;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.promotion__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.promotion__form {
  display: flex;
}

.promotion__email {
  border: none;
  background: #E1E1E1;
  width: 256px;
  height: 49px;
  border-radius: 25px 0 0 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  color: #222222;
  padding-left: 22px;
  padding-right: 64px;
  flex-direction: column;
  justify-content: center;
  outline: none;
  transition: background-color .3s;
}

.promotion__email:hover {
  background-color: #d2d2d8;
}

.promotion__email:active {
  background-color: #c5c5ca;
}

.promotion__button__email {
  border: none;
  background-color: #F16D7F;
  width: 100px;
  height: 49px;
  border-radius: 0 25px 25px 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: background-color .3s;
}

.promotion__button__email:hover {
  background-color: #db465a;
}

.promotion__button__email:active {
  background-color: #d4354b;
}

.footer {
  background: #222222;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 665px;
  height: 79px;
}

.footer__rights {
  color: #FBFBFB;
  width: 332px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.footer__socials {
  width: 148px;
}

.footer__socials__footer {
  display: flex;
  gap: 7px;
}

.footer__icon__link {
  position: relative;
  text-align: center;
  width: 32px;
  height: 32px;
  transition: all .3s;
}

.footer__icon__link:hover .footer__rectangle__socials {
  background-color: gray;
}

.footer__rectangle__socials {
  width: 32px;
  height: 32px;
}

.footer__rectangle__socials::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  transition: background-color .2s ease;
}

.footer__icon__link:hover .footer__rectangle__socials::before {
  background-color: palevioletred;
}

.footer__icon__link:active .footer__rectangle__socials::before {
  background-color: #d44d7a;
}

.footer__icons {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
}

.footer__facebook path,
.footer__instagram path,
.footer__pinterest path,
.footer__twitter path {
  fill: black;
}

.footer__facebook {
  width: 10px;
  height: 16px;
}

.footer__icons:hover .footer__facebook path {
  fill: white;
  transition: fill .2s ease;
}

.footer__instagram {
  width: 15px;
  height: 17px;
}

.footer__icons:hover .footer__instagram path {
  fill: white;
  transition: fill .2s ease;
}

.footer__pinterest {
  width: 12px;
  height: 16px;
}

.footer__icons:hover .footer__pinterest path {
  fill: white;
  transition: fill .2s ease;
}

.footer__twitter {
  width: 16px;
  height: 16px;
}

.footer__icons:hover .footer__twitter path {
  fill: white;
  transition: fill .2s ease;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
  }

  .subscribe {
    height: 614px;
    padding-top: 64px;
    padding-bottom: 140px;
    gap: 48px;
    display: flex;
    flex-direction: column;
  }

  .footer {
    gap: 308px;
  }

  .footer__rights {
    width: 251px;
  }
}