* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  padding-left: calc(50% - 1600px / 2);
  padding-right: calc(50% - 1600px / 2);
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100%;
}

.center {
  padding-left: calc(50% - 1140px / 2);
  padding-right: calc(50% - 1140px / 2);
}

.top__content {
  display: flex;
  align-items: center;
  gap: 64px;
  background: #F1E4E6;
  margin-bottom: 65px;
}

.top__content__img__man {
  max-width: 50%;
  height: auto;
}

.top__content__title {
  display: flex;
  gap: 16px;
}

.top__content__top__rectangle {
  background: #F16D7F;
}

.top__content__top__title {
  max-width: 377px;
  color: #222222;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}

.top__content__small {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.top__content__pink__text {
  color: #F16D7F;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.offer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  padding-top: 65px;
}

.offer__item {
  position: relative;
  text-align: center;
  max-width: 360px;
  height: 260px;
  overflow: hidden;
  background-color: #211616;
}

.offer__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

.offer__item__big {
  position: relative;
  text-align: center;
  width: 100%;
  height: 180px;
  margin-top: 0;
  overflow: hidden;
  background-color: #211616;
}

.offer__item__big img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
}

.offer__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: rgba(33, 22, 22, 0.7);
}

.offer__overlay__desktop__big {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 22, 22, 0.7);
  opacity: 0.7;
}

.offer__text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

.offer__text__big {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

.offer__h2__text__big {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  display: block;
  margin-top: 5px;
}

.offer__h2__text {
  color: #F16D7F;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  display: block;
  margin-top: 5px;
}

.products__title__products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin-top: 96px;
  color: #222222;
  margin-bottom: 48px;
}

.products__h3__products__title {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}

.products__text__products {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}

.sales {
  row-gap: 25px;
  column-gap: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 48px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 95px;
}

.button__browse {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  border: 1px solid #FF6A6A;
  width: 212px;
  height: 48px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F26376;
  transition: all .3s;
}

.button__browse:hover {
  background-color: #F16D7F;
  color: white;
  transform: scale(1.03);
}

.button__browse:active {
  background-color: #f05f72;
  transform: scale(0.99);
}

.perks {
  background-color: #222222;
  color: #FBFBFB;
  height: 341px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.perks__item {
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.perks__icon__6 {
  width: 45px;
  height: 32px;
}

.perks__icon__7 {
  width: 40px;
  height: 40px;
}

.perks__icon__8 {
  width: 47px;
  height: 35px;
}

.perks__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 28px;
  margin-bottom: 16px;
}

.perks__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  opacity: 0.7;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 376px);
    padding-right: calc(50% - 376px);
  }

  .top__content {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
    gap: 40px;
    margin-bottom: 20px;
  }

  .top__content__img__man {
    max-width: 50%;
    height: auto;
  }

  .top__content__top__title {
    max-width: 311px;
    font-size: 44px;
    line-height: 53px;
  }

  .top__content__small {
    font-size: 24px;
    line-height: 29px;
  }

  .top__content__pink__text {
    font-size: 24px;
    line-height: 29px;
  }

  .offer {
    gap: 20px;
    margin-bottom: 155px;
  }

  .offer__item img {
    width: 232px;
    background-image: url(../../assets/images/products/overlay_tablet.png);
  }
  
  .offer__item::before {
    content: '';
    width: 232px;
    height: 168px;
  }

  .offer__item__big img {
    display: none;
  }

  .offer__item__big {
    background-image: url(../../assets/images/products/photo_big_tablet.png);
    width: 735px;
    height: 116px;
  }

  .offer__item__big::before {
    content: '';
    position: absolute;
    inset: 0;
    bottom: 0;
    z-index: 0;
    background-color: #211616B2;
  }

  .offer__overlay__desktop__big {
    display: none;
  }

  .products__title__products {
    margin-bottom: 73px;
  }

  .sales {
    margin-bottom: 32px;
  }

  .button {
    margin-bottom: 65px;
  }
}